<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-grup">
            <select [(ngModel)]="buscador.ID" [ngModelOptions]="{standalone: true}" class="form-grup">
                <option *ngFor="let medico of medicos" [value]="medico.idMedico" placeholder="medicos">{{medico.Nombre}}</option>
              </select>
            </div>
          <button class="btn btn-success btn-block" (click)="despedir()">Despedir</button>
          <div *ngIf="despedido"   class="alert alert-success" role="alert">
            Medico Despedido
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
