
<button type="button" class="btn btn-lg btn-primary margin-right" disabled>1</button>
<button type="button" class="btn btn-secondary btn-lg margin-right" disabled>2</button>
<button type="button" class="btn btn-secondary btn-lg margin-right" disabled>3</button>

<div class="center">
  <a class="btn btn-primary btn-lg margin-right" routerLink="/pasiente-habitual/formulario" routerlinkActive="active" role="button">Paciente Habitual</a>
  <a class="btn btn-primary btn-lg margin-right" routerLink="/paciente/add" routerlinkActive="active" role="button">Paciente Nuevo</a>
</div>