
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-grup">
            <input type="text" name="Nombre" [(ngModel)]="medico.nombre" placeholder="Nombre Medico" class="form-control" autofocus>
          </div>
          <div class="form-grup">
          <select [(ngModel)]="medico.especialidad" [ngModelOptions]="{standalone: true}" class="form-grup">
              <option *ngFor="let especialidad of especialidades" [value]="especialidad.idEspecialidad" placeholder="especialidad">{{especialidad.Nombre_espe}}</option>
            </select>
          </div>
          <div class="form-grup">
            <input type="number" min=1 max=120 name="Nombre" [(ngModel)]="medico.edad" placeholder="Edad" class="form-control" autofocus>
          </div>
          <div class="form-grup">
            <input type="date" name="Nombre" [(ngModel)]="medico.f_nacimiento" placeholder="Fecha Nacimiento" class="form-control" autofocus>
          </div>
          <button class="btn btn-success btn-block" (click)="guardarmedico()">Agregar</button>
          <div *ngIf="agregado"   class="alert alert-success" role="alert">
            Medico agregado
          </div>
        </form>
      </div>
    </div>
  </div>



