<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" routerLink="/">Menu</a>
    <i class="fas fa-pills"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-left" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/paso1" routerlinkActive="active">Reservar de Hora</a><i class="fas fa-user-clock"></i>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/paso1_examen" routerlinkActive="active"><i class="fas fa-user-plus"></i>Reserva de Examen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/edit/consulta" routerlinkActive="active">Cancela Tu Reserva</a>
      </li>
    </ul>
  </div>
</nav>