<a class="nav-link" routerLink="/admin/guardar/isapre" routerlinkActive="active"><i class="fas fa-user-plus"></i>Guardar Isapre</a>
<a class="nav-link" routerLink="/admin/guardar/examen" routerlinkActive="active"><i class="fas fa-user-plus"></i>Guardar Examen</a>
<a class="nav-link" routerLink="/admin/medico/agregar" routerlinkActive="active"><i class="fas fa-user-plus"></i>Contratar Medico</a>
<a class="nav-link" routerLink="/admin/guardar/espec" routerlinkActive="active"><i class="fas fa-user-plus"></i>Guardar Especialidad</a>
<a class="nav-link" routerLink="/admin/medico/despedir" routerlinkActive="active"><i class="fas fa-user-plus"></i>Despedir Medico</a>
<a class="nav-link" routerLink="/admin/g_h_m" routerlinkActive="active"><i class="fas fa-user-plus"></i>Guardar Hora Medico</a>