<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-grup">
          <input type="text" name="Bloque" [(ngModel)]="Hora.Bloque" placeholder="Bloque" class="form-control" autofocus>
        </div>
        <div class="form-grup">
          <input type="date" name="Fecha" [(ngModel)]="Hora.Fecha" placeholder="Fecha" class="form-control" autofocus>
        </div>
        <button class="btn btn-success btn-block" (click)="guardarhora()">Agregar</button>
      </form>
    </div>
  </div>
</div>
