<!--- pasasos de toma de hora--->
<button type="button" class="btn btn-lg btn-secondary margin-right" disabled>1</button>
<button type="button" class="btn btn-primary btn-lg margin-right" disabled>2</button>
<button type="button" class="btn btn-secondary btn-lg margin-right" disabled>3</button>


<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-grup">
            <p>Escoja una especialidad:</p>
            <select [(ngModel)]="especialidad" [ngModelOptions]="{standalone: true}" class="form-grup">
              <option *ngFor="let especialidad of especialidades" [value]="especialidad.idEspecialidad" placeholder="ej:Medicina general">{{especialidad.Nombre_espe}}</option>
            </select>
              <button class="btn btn-primary btn-block" (click)="getBuscarMeidocos()">Seleccionar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>