<!--- pasasos de toma de hora--->
<button type="button" class="btn btn-lg btn-secondary margin-right" disabled>1</button>
<button type="button" class="btn btn-primary btn-lg margin-right" disabled>2</button>
<button type="button" class="btn btn-secondary btn-lg margin-right" disabled>3</button>


<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-grup">
            <p>Escoja una especialidad:</p>
            <select name="menu" placeholder="ej:Medicina general" class="form-control" autofocus>
              <option value="0">...</option>
              <option value=1>1-Medicina General</option>
              <option value=2>2-Cardiología</option>
              <option value=3>3-Odontología</option>
            </select>
          </div>
          <button class="btn btn-primary btn-block" >Listo</button>
        </form>
      </div>
    </div>
  </div>
</div>